.gradle
/build/
!zuul/gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.java-version
.pairs
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/out/*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
